@charset "utf-8";
/* CSS Document */

.label{
	color: black;
	font-size: 20px;
	padding-right: 30px;
}

.bigbox{
padding-top: 30px; 
	padding-bottom: 20px; 
	float: left;
	width:80%;
	display: flex; 
	justify-content: center;
}

.cancelbtn {
  width: 500px;
  background-color: red;
  color: black;
  padding: 10px 30px;
  margin: 0px 0;
  border: grey;
  font-size:16px;
  cursor: pointer;
  border-radius: 40px;
  
  
}

.savebtn {
  width: 500px;
  background-color: green;
  color: black;
  padding: 8px 20px;
  margin: 0px 0;
  border: grey;
  font-size:16px;
  cursor: pointer;
  border-radius: 40px;

}




